* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  // background-image: url("/var/www/gpr1nce.github.io/crumpy.jpg");

}

// color pallete, chosen at coolors.com
// noted by tone
// urgent: Mango Tango #F0803C
// calming: Dark Slate Gray #315659
// forward-looking: French Sky Blue #85C0FF
// notebook: Pale Spring Bud #F4F1BB
// regal: Glossy Grape #A599B5

// trying to display color chips
// .chip li:nth-child(1) a {    background:#F0803C; }
// .chip li:nth-child(2) a {    background: #315659; }
// .chip li:nth-child(3) a {    background:  #85C0FF; }
// .chip li:nth-child(4) a {    background: #F4F1BB; }
// .chip li:nth-child(5) a {    background:  #A599B5; }

// section .pict {
//   position:relative;
//   height: 100%;
//   width:100%;
// }
// style img so not oversize
.pict img {
  // position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width: 20px;
  // max-height: 110;
}

// new s/css from Dinosaurs video was OKish
// grid-based layout
body {
  background: #F4F1BB;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 200px 1fr 150px;
  grid-template-rows: min-content 1fr min-content;
}


.aside {
  grid-row: 2;
  grid-column: 2 / 3;
  background: #F4F1BB;
  padding: 20px;
  max-width: 60%;
  margin: 0 auto;

}

main {
  grid-row: 2;
  grid-column: 2 / 3;
  // background: #aaa;
  padding: 0 20px;
}

header {
  background: #000;
  color: #fff;
  line-height: 50px;
  grid-row: 1;
}

footer {
  grid-row: 3;
  grid-column: 1 / 4;
  background: #000;
  color: #fff;
  min-height: 100px;
  padding: 1rem;
}

.hdr{
  text-align: center;
}
/* crumply paper background? */
// .crumply {
//   background-image: url("/var/www/gpr1nce.github.io/crumpy.jpg");
// }

.slugline {
  font-size: small;
  font-weight: lighter;
  margin: 10px 0;
  text-align: center;
  color: #F4F1BB;
  padding: 5px;
  background-color: #315659;
}

/* all below is pre-restyling wkend asst */
.avatar {
    border-radius: 5%;
    float: left; 
    margin-right: 1em;
  }


  header {
    height: 50px;
    background: #000;
    color: #fff;
    padding: 0 .5rem 0 1rem;
    grid-row: 1;
    grid-column: 1 /4;
  }
  
  header .logo{
    line-height: 50px;
    font-weight: bold;
  }
  

  nav {
    grid-row: 2;
    grid-column: 1 / 2;
    padding: 0 10px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li,
 {
    display: block;
  }
  
  nav ul li a,
  nav ul li a:link,
  nav ul li a:visited{
    display: inline-block;
    padding: 0 .5rem;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
  }
  
  nav ul li a:hover{
    background: #444;
  }
  
  main {
    /* Use a margin to center the page */
    margin: 0 auto;
  
    /* Set the width of the content */
    width: 960px;
  
    /* For smaller screens to not exceed the max screen width */
    max-width: 100%;
  }

#toggleMenu {
    display: none;
  }
  
  @media only screen and (max-width: 960px)  
  {
    main {
      max-width: 90%;
    }
  
    header {
      position: relative;
    }
  
    #toggleMenu {
      display: block;
      float: right;
      line-height: 50px;
    }

  
    nav {
      position: absolute;
      display: none;
      background: #000;
      top: 50px;
      left: 0;
      right: 0;
    }
  
    nav ul li a,
    nav ul li a:link,
    nav ul li a:visited{
      display: block;
      border-bottom: 1px solid #777;
    }
  }
  