/* open sans import */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* <!-- ubuntu for restyled headings -->  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  font-family: 'Open Sans', 'Ubuntu', sans-serif;
}

body{
  padding: 0;
  margin: 0;
}

header {
  height: 50px;
  background: #000;
  color: #fff;
  padding: 0 .5rem 0 1rem;
}

header .logo{
  line-height: 50px;
  font-weight: bold;
}

nav {
  float: right;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li
{
  display: inline;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited{
  display: inline-block;
  padding: 0 .5rem;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
}

nav ul li a:hover{
  background: #444;
}

.banner {
  text-align: center;
  margin: 20px;
}

.summary {
  padding: 10px;
  max-width: 75%;
  background-color: #85C0FF;
  margin:auto;
  text-align: center;
  filter: drop-shadow(5px 5px 4px #444);
  border: #222 1px solid;
}

.summary h5 {
  margin: 0px 0px 10px 0px;
}

.summary h4 {
  margin: 0;
  font-style: italic;
  padding: 0 0 0 0;
}

// aside was a class; now using as tag
aside {
  background: #F4F1BB;
  padding: 20px;
  max-width: 60%;
  margin: 0 auto;
  filter: drop-shadow(5px 5px 4px #444);
  border: #222 1px solid;
}

aside ul {
  margin: 0 0 10px 10px;
  list-style-type: disc;

}

aside h1, h2, h3, h4 {
  margin: 0;
}

ul {
  list-style-type: none;
}

.explanation {
  padding: 10px;
}

.explanation ul {
  list-style-type: disc;
}

.intro {
  text-align: center;
  margin: 10px 0 10px 0;
  background-color: #A599B5;
  // padding: 2px 0px;
}

.intro h3, h4 {
  padding: 5px 0 5px 0;
}

// color pallete chosen from coolors.co, paint sample style.
// selected for tones
// urgent: Mango Tango #F0803C
// calming: Dark Slate Gray #315659
// forward-looking: French Sky Blue #85C0FF
// notebook: Pale Spring Bud #F4F1BB
// regal: Glossy Grape #A599B5

// trying to display color chips like paint samples
.chip li:nth-child(1) a {    background: #F0803C; }
.chip li:nth-child(2) a {    background: #315659; }
.chip li:nth-child(3) a {    background:  #85C0FF; }
.chip li:nth-child(4) a {    background: #F4F1BB; }
.chip li:nth-child(5) a {    background:  #A599B5; }

.pict {
  position:relative;
  height: 100%;
  width:100%;
  text-align: center;
}

// style img so not oversize
.pict img {
  // position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width: 33%;
  display: block;
  // max-height: 110;
}

.hdr{
  text-align: center;
}
/* crumply paper background? */
// .crumply {
//   background-image: url("/var/www/gpr1nce.github.io/crumpy.jpg");
// }

.slugline {
  font-size: large;
  font-weight: lighter;
  margin: 10px 0;
  text-align: center;
  color: #F4F1BB;
  // padding: 1px;
  background-color: #315659;
}

  main {
    /* Use a margin to center the page */
    margin: 0 auto;
  
    /* Set the width of the content */
    width: 960px;
  
    /* For smaller screens to not exceed the max screen width */
    max-width: 90%;
  }

  avatar {
    border-radius: 5%;
    float: left; 
    margin-right: 1em;
  }
  
  
  
#toggleMenu {
    display: none;
  }
  
  @media only screen and (max-width: 960px)  
  {
    #toggleMenu {
      display: block;
      float: right;
      line-height: 50px;
    }

    header {
      position: relative;
  }

  nav {
      position: absolute;
      display: none;
      background: #000;
      top: 50px;
      left: 0;
      right: 0;
    }

    main {
      max-width: 100%;
    }

    nav ul li a,
    nav ul li a:link,
    nav ul li a:visited{
      display: block;
      border-bottom: 1px solid #777;
    }
  }
